<head>
<title>Battle!</title>
<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>
<h1><%=@game.player_1.name.capitalize%> vs <%=@game.player_2.name.capitalize%></h1>
<a href="/attack">Attack</a>
<h2><%= @game.player_2.name.capitalize %>: <%= @game.player_2.hit_points %></h2>
</body>